@import url("bootstrap-icons-1.7.1/font/bootstrap-icons.css");

@font-face {
  font-family: 'Ubuntu';
  src: URL('fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

body {
  background-color: #f8fafc;
  font-family: 'Ubuntu', sans-serif;
}

/* .dashboard .card {
  background-color: transparent;
} */

.bg-dark {
  background-image: linear-gradient(-45deg,#e89434,#0f3443);
}

a {
  text-decoration: none;
}

.nav-link {
  color: #212529;
}

.nav-link:hover {
  color: #db9436;
}

.nav-link.active {
  color: #fff !important;/*#212529;*/
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  /*background-color: #ffffff;#f8f9fa;#0d6efd;*/
  background-image: linear-gradient(-45deg,#e89434,#0f3443);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

#breadcrumb {
  color: rgb(162, 143, 21);
  background-color: transparent;
}

#left-menu {
  font-size: 16px;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #eeffbe60;
}

#aprobado {
  color: rgb(0, 101, 0);
}

#reprobado{
  color:rgb(157, 34, 34);
}

.centro{
  margin: 0 auto;
}


/* este apartado sera para el menu nuevo */

.container__menu{
  width: 100%;
  height: 55px;
  background-color: rgb(161, 160, 160);
  padding: 0px 20px;
}

.menu{
  max-width: 1170px;
  margin: auto;
  height: 100%;
}


.botones_menu li a{
  text-decoration: none;
}

.menu nav{
  height: 100%;
}

nav > ul{
  height: 100%;
  display: flex;
}

/* esto es para el icono */
nav > ul >li:first-child > a{
  background-image: url(../../public/image/casa.png);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 40px;

}

nav > ul >li:first-child:hover > a{
  background-image: url(../../public/image/casa.png);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center center;

}
/* hasta aqui */

nav  ul li{
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul >li >a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px;
  color: #000000;
  transition: all 200ms ease;
}

nav > ul >li >a:hover{
  transform: scale(1.1);
  background: rgb(67, 144, 174);
  color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
}

.selected{
  transform: scale(1.1);
  background-color: rgb(67, 144, 174);
  
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
}

/* sudmenu */

nav ul li ul{
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: absolute;
  top: 70px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
  z-index: 10;
  transition: all 300ms ease;
}

nav ul li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 55px;
}

nav ul li ul::before{
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a{
  display: block;
  color: #000000;
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li ul li a:hover{
  background: #a3a3a3;
  color: #ffffff;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 5);
}
